In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Data Engineering

In [2]:
#we import the training data
trainset = pd.read_csv("bluebook-for-bulldozers/Train.csv",low_memory=False,parse_dates=["saledate"])
trainset.head(3).T

,0,1,2
SalesID,1139246,1139248,1139249
SalePrice,66000,57000,10000
MachineID,999089,117657,434808
ModelID,3157,77,7009
datasource,121,121,121
auctioneerID,3.0,3.0,3.0
YearMade,2004,1996,2001
MachineHoursCurrentMeter,68.0,4640.0,2838.0
UsageBand,Low,Low,High
saledate,2006-11-16 00:00:00,2004-03-26 00:00:00,2004-02-26 00:00:00
fiModelDesc,521D,950FII,226
fiBaseModel,521,950,226
fiSecondaryDesc,D,F,NaN
fiModelSeries,NaN,II,NaN
fiModelDescriptor,NaN,NaN,NaN
ProductSize,NaN,Medium,NaN
fiProductClassDesc,Wheel Loader - 110.0 to 120.0 Horsepower,Wheel Loader - 150.0 to 175.0 Horsepower,Skid Steer Loader - 1351.0 to 1601.0 Lb Operat...
state,Alabama,North Carolina,New York
ProductGroup,WL,WL,SSL
ProductGroupDesc,Wheel Loader,Wheel Loader,Skid Steer Loaders
Drive_System,NaN,NaN,NaN
Enclosure,EROPS w AC,EROPS w AC,OROPS
Forks,None or Unspecified,None or Unspecified,None or Unspecified
Pad_Type,NaN,NaN,NaN
Ride_Control,None or Unspecified,None or Unspecified,NaN
Stick,NaN,NaN,NaN
Transmission,NaN,NaN,NaN
Turbocharged,NaN,NaN,NaN
Blade_Extension,NaN,NaN,NaN
Blade_Width,NaN,NaN,NaN
Enclosure_Type,NaN,NaN,NaN
Engine_Horsepower,NaN,NaN,NaN
Hydraulics,2 Valve,2 Valve,Auxiliary
Pushblock,NaN,NaN,NaN
Ripper,NaN,NaN,NaN
Scarifier,NaN,NaN,NaN
Tip_Control,NaN,NaN,NaN
Tire_Size,None or Unspecified,23.5,NaN
Coupler,None or Unspecified,None or Unspecified,None or Unspecified
Coupler_System,NaN,NaN,None or Unspecified
Grouser_Tracks,NaN,NaN,None or Unspecified
Hydraulics_Flow,NaN,NaN,Standard
Track_Type,NaN,NaN,NaN
Undercarriage_Pad_Width,NaN,NaN,NaN
Stick_Length,NaN,NaN,NaN
Thumb,NaN,NaN,NaN
Pattern_Changer,NaN,NaN,NaN
Grouser_Type,NaN,NaN,NaN
Backhoe_Mounting,NaN,NaN,NaN
Blade_Type,NaN,NaN,NaN
Travel_Controls,NaN,NaN,NaN
Differential_Type,Standard,Standard,NaN
Steering_Controls,Conventional,Conventional,NaN

In [3]:
#import th validation dataset too
validset = pd.read_csv("bluebook-for-bulldozers/Valid.csv",low_memory=False,parse_dates=["saledate"])
validset.head(3).T

,0,1,2
SalesID,1222837,1222839,1222841
MachineID,902859,1048320,999308
ModelID,1376,36526,4587
datasource,121,121,121
auctioneerID,3,3,3
YearMade,1000,2006,2000
MachineHoursCurrentMeter,0.0,4412.0,10127.0
UsageBand,NaN,Medium,Medium
saledate,2012-01-05 00:00:00,2012-01-05 00:00:00,2012-01-05 00:00:00
fiModelDesc,375L,TX300LC2,270LC
fiBaseModel,375,TX300,270
fiSecondaryDesc,NaN,LC,NaN
fiModelSeries,NaN,2,NaN
fiModelDescriptor,L,NaN,LC
ProductSize,Large / Medium,Large / Medium,Large / Medium
fiProductClassDesc,"Hydraulic Excavator, Track - 66.0 to 90.0 Metr...","Hydraulic Excavator, Track - 28.0 to 33.0 Metr...","Hydraulic Excavator, Track - 24.0 to 28.0 Metr..."
state,Kentucky,Connecticut,Connecticut
ProductGroup,TEX,TEX,TEX
ProductGroupDesc,Track Excavators,Track Excavators,Track Excavators
Drive_System,NaN,NaN,NaN
Enclosure,EROPS,EROPS w AC,EROPS w AC
Forks,NaN,NaN,NaN
Pad_Type,NaN,NaN,NaN
Ride_Control,NaN,NaN,NaN
Stick,NaN,NaN,NaN
Transmission,NaN,NaN,NaN
Turbocharged,NaN,NaN,NaN
Blade_Extension,NaN,NaN,NaN
Blade_Width,NaN,NaN,NaN
Enclosure_Type,NaN,NaN,NaN
Engine_Horsepower,NaN,NaN,NaN
Hydraulics,Standard,Auxiliary,Auxiliary
Pushblock,NaN,NaN,NaN
Ripper,NaN,NaN,NaN
Scarifier,NaN,NaN,NaN
Tip_Control,NaN,NaN,NaN
Tire_Size,NaN,NaN,NaN
Coupler,None or Unspecified,Hydraulic,None or Unspecified
Coupler_System,NaN,NaN,NaN
Grouser_Tracks,NaN,NaN,NaN
Hydraulics_Flow,NaN,NaN,NaN
Track_Type,Steel,Steel,Steel
Undercarriage_Pad_Width,None or Unspecified,None or Unspecified,None or Unspecified
Stick_Length,None or Unspecified,"12' 4""","12' 4"""
Thumb,None or Unspecified,None or Unspecified,None or Unspecified
Pattern_Changer,None or Unspecified,Yes,None or Unspecified
Grouser_Type,Double,Double,Double
Backhoe_Mounting,NaN,NaN,NaN
Blade_Type,NaN,NaN,NaN
Travel_Controls,NaN,NaN,NaN
Differential_Type,NaN,NaN,NaN
Steering_Controls,NaN,NaN,NaN

In [4]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   401125 non-null  int64
 1   SalePrice                 401125 non-null  int64
 2   MachineID                 401125 non-null  int64
 3   ModelID                   401125 non-null  int64
 4   datasource                401125 non-null  int64
 5   auctioneerID              380989 non-null  float64
 6   YearMade                  401125 non-null  int64
 7   MachineHoursCurrentMeter  142765 non-null  float64
 8   UsageBand                 69639 non-null   object
 9   saledate                  401125 non-null  datetime64[ns]
 10  fiModelDesc               401125 non-null  object
 11  fiBaseModel               401125 non-null  object
 12  fiSecondaryDesc           263934 non-null  object
 13  fiModelSeries             56908 non-null   object
 14  fiModelDescriptor         71919 non-null   object
 15  ProductSize               190350 non-null  object
 16  fiProductClassDesc        401125 non-null  object
 17  state                     401125 non-null  object
 18  ProductGroup              401125 non-null  object
 19  ProductGroupDesc          401125 non-null  object
 20  Drive_System              104361 non-null  object
 21  Enclosure                 400800 non-null  object
 22  Forks                     192077 non-null  object
 23  Pad_Type                  79134 non-null   object
 24  Ride_Control              148606 non-null  object
 25  Stick                     79134 non-null   object
 26  Transmission              183230 non-null  object
 27  Turbocharged              79134 non-null   object
 28  Blade_Extension           25219 non-null   object
 29  Blade_Width               25219 non-null   object
 30  Enclosure_Type            25219 non-null   object
 31  Engine_Horsepower         25219 non-null   object
 32  Hydraulics                320570 non-null  object
 33  Pushblock                 25219 non-null   object
 34  Ripper                    104137 non-null  object
 35  Scarifier                 25230 non-null   object
 36  Tip_Control               25219 non-null   object
 37  Tire_Size                 94718 non-null   object
 38  Coupler                   213952 non-null  object
 39  Coupler_System            43458 non-null   object
 40  Grouser_Tracks            43362 non-null   object
 41  Hydraulics_Flow           43362 non-null   object
 42  Track_Type                99153 non-null   object
 43  Undercarriage_Pad_Width   99872 non-null   object
 44  Stick_Length              99218 non-null   object
 45  Thumb                     99288 non-null   object
 46  Pattern_Changer           99218 non-null   object
 47  Grouser_Type              99153 non-null   object
 48  Backhoe_Mounting          78672 non-null   object
 49  Blade_Type                79833 non-null   object
 50  Travel_Controls           79834 non-null   object
 51  Differential_Type         69411 non-null   object
 52  Steering_Controls         69369 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(44)
memory usage: 162.2+ MB

In [5]:
validset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  datetime64[ns]
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
 20  Enclosure                 11564 non-null  object
 21  Forks                     5638 non-null   object
 22  Pad_Type                  1962 non-null   object
 23  Ride_Control              4122 non-null   object
 24  Stick                     1962 non-null   object
 25  Transmission              4777 non-null   object
 26  Turbocharged              1962 non-null   object
 27  Blade_Extension           764 non-null    object
 28  Blade_Width               764 non-null    object
 29  Enclosure_Type            764 non-null    object
 30  Engine_Horsepower         764 non-null    object
 31  Hydraulics                9563 non-null   object
 32  Pushblock                 764 non-null    object
 33  Ripper                    2808 non-null   object
 34  Scarifier                 764 non-null    object
 35  Tip_Control               764 non-null    object
 36  Tire_Size                 2920 non-null   object
 37  Coupler                   6727 non-null   object
 38  Coupler_System            1516 non-null   object
 39  Grouser_Tracks            1513 non-null   object
 40  Hydraulics_Flow           1513 non-null   object
 41  Track_Type                3040 non-null   object
 42  Undercarriage_Pad_Width   3044 non-null   object
 43  Stick_Length              3043 non-null   object
 44  Thumb                     3044 non-null   object
 45  Pattern_Changer           3043 non-null   object
 46  Grouser_Type              3040 non-null   object
 47  Backhoe_Mounting          2040 non-null   object
 48  Blade_Type                2042 non-null   object
 49  Travel_Controls           2043 non-null   object
 50  Differential_Type         2153 non-null   object
 51  Steering_Controls         2153 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(44)
memory usage: 4.6+ MB

In [6]:
#create a helper function to convert our data into numerical and to fill missing values
def preprocessing(df):
    df["saleyear"] = df["saledate"].dt.year
    df["salemonth"] = df["saledate"].dt.month
    df["saleday"] = df["saledate"].dt.day
    df["saledayofyear"] = df["saledate"].dt.dayofyear
    df["saledayofweek"] = df["saledate"].dt.dayofweek
    df.drop("saledate",axis=1,inplace=True)
    #convert categorical to numeric and fill missing values with median
    for key,value in df.items():
        if pd.api.types.is_numeric_dtype(value):
            if pd.isnull(value).sum():
                df[key+"_is_missing"] = pd.isnull(value)
                df[key] = value.fillna(value.median())
        if not pd.api.types.is_numeric_dtype(value):
            df[key+"_is_missing"] = pd.isnull(value)
            df[key] = pd.Categorical(value).codes + 1
    return df

In [7]:
trainset = preprocessing(trainset)
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401125 entries, 0 to 401124
Columns: 103 entries, SalesID to Steering_Controls_is_missing
dtypes: bool(46), float64(2), int16(4), int64(11), int8(40)
memory usage: 75.7 MB

In [8]:
trainset.isna().sum()

SalesID                         0
SalePrice                       0
MachineID                       0
ModelID                         0
datasource                      0
                               ..
Backhoe_Mounting_is_missing     0
Blade_Type_is_missing           0
Travel_Controls_is_missing      0
Differential_Type_is_missing    0
Steering_Controls_is_missing    0
Length: 103, dtype: int64

In [9]:
trainset.head(2).T

                                    0        1
SalesID                       1139246  1139248
SalePrice                       66000    57000
MachineID                      999089   117657
ModelID                          3157       77
datasource                        121      121
...                               ...      ...
Backhoe_Mounting_is_missing      True     True
Blade_Type_is_missing            True     True
Travel_Controls_is_missing       True     True
Differential_Type_is_missing    False    False
Steering_Controls_is_missing    False    False

[103 rows x 2 columns]

In [30]:
#save the training sate to csv
trainset.to_csv("bluebook-for-bulldozers/trainset.csv",index=False)

### Fitting model to our training data using XGBoost

In [10]:
from xgboost import XGBRegressor,DMatrix
from sklearn.metrics import mean_absolute_error,mean_squared_log_error

In [11]:
#let us preprocess our valid dataset
validset = preprocessing(validset)
validset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Columns: 101 entries, SalesID to Steering_Controls_is_missing
dtypes: bool(45), float64(1), int16(2), int64(11), int8(42)
memory usage: 2.1 MB

In [12]:
validset.isna().sum()

SalesID                         0
MachineID                       0
ModelID                         0
datasource                      0
auctioneerID                    0
                               ..
Backhoe_Mounting_is_missing     0
Blade_Type_is_missing           0
Travel_Controls_is_missing      0
Differential_Type_is_missing    0
Steering_Controls_is_missing    0
Length: 101, dtype: int64

In [13]:
#check the missing columns(features in our valid dataset)
set(trainset.columns)-set(validset.columns)

{'SalePrice', 'auctioneerID_is_missing'}

In [14]:
#let us add the auctioneerID_is_missing to our valid dataset
validset["auctioneerID_is_missing"] = False

In [31]:
#save validset to csv file
validset.to_csv("bluebook-for-bulldozers/validset.csv",index=False)

In [15]:
validset.isna().sum()

SalesID                         0
MachineID                       0
ModelID                         0
datasource                      0
auctioneerID                    0
                               ..
Blade_Type_is_missing           0
Travel_Controls_is_missing      0
Differential_Type_is_missing    0
Steering_Controls_is_missing    0
auctioneerID_is_missing         0
Length: 102, dtype: int64

In [3]:
validset1=(pd.read_csv("bluebook-for-bulldozers/validset.csv",low_memory=False)
                    .reset_index(drop=True))
validset1.head(3).T

                                    0        1        2
SalesID                       1222837  1222839  1222841
MachineID                      902859  1048320   999308
ModelID                          1376    36526     4587
datasource                        121      121      121
auctioneerID                        3        3        3
...                               ...      ...      ...
Blade_Type_is_missing            True     True     True
Travel_Controls_is_missing       True     True     True
Differential_Type_is_missing     True     True     True
Steering_Controls_is_missing     True     True     True
auctioneerID_is_missing         False    False    False

[102 rows x 3 columns]

In [4]:
trainset1=(pd.read_csv("bluebook-for-bulldozers/trainset.csv",low_memory=False)
                    .reset_index(drop=True))
trainset1.head(3).T

                                    0        1        2
SalesID                       1139246  1139248  1139249
SalePrice                       66000    57000    10000
MachineID                      999089   117657   434808
ModelID                          3157       77     7009
datasource                        121      121      121
...                               ...      ...      ...
Backhoe_Mounting_is_missing      True     True     True
Blade_Type_is_missing            True     True     True
Travel_Controls_is_missing       True     True     True
Differential_Type_is_missing    False    False     True
Steering_Controls_is_missing    False    False     True

[103 rows x 3 columns]

In [36]:
trainset1.drop("auctioneerID_is_missing",axis=1,inplace=True)
trainset1.head(2).T

                                    0        1
SalesID                       1139246  1139248
SalePrice                       66000    57000
MachineID                      999089   117657
ModelID                          3157       77
datasource                        121      121
...                               ...      ...
Backhoe_Mounting_is_missing      True     True
Blade_Type_is_missing            True     True
Travel_Controls_is_missing       True     True
Differential_Type_is_missing    False    False
Steering_Controls_is_missing    False    False

[102 rows x 2 columns]

In [37]:
trainset1["auctioneerID_is_missing"] = False
trainset1.head(2).T

                                    0        1
SalesID                       1139246  1139248
SalePrice                       66000    57000
MachineID                      999089   117657
ModelID                          3157       77
datasource                        121      121
...                               ...      ...
Blade_Type_is_missing            True     True
Travel_Controls_is_missing       True     True
Differential_Type_is_missing    False    False
Steering_Controls_is_missing    False    False
auctioneerID_is_missing         False    False

[103 rows x 2 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [17]:
#let's import the salesprice of the valid dataset
traval = pd.read_csv("bluebook-for-bulldozers/TrainAndValid.csv",low_memory=False,parse_dates=["saledate"])
traval.head(1)

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional

In [19]:
valsale = traval[traval["saledate"].dt.year == 2012]
len(valsale)

11573

In [20]:
validset.shape

(11573, 102)

In [24]:
valsale.reset_index(drop = True,inplace=True)
valsale[:15]

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1222837,31000.0,902859,1376,121,3.0,1000,0.0,NaN,2012-01-05,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
1,1222839,54000.0,1048320,36526,121,3.0,2006,4412.0,Medium,2012-01-05,...,None or Unspecified,"12' 4""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
2,1222841,26500.0,999308,4587,121,3.0,2000,10127.0,Medium,2012-01-05,...,None or Unspecified,"12' 4""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
3,1222843,10000.0,1062425,1954,121,3.0,1000,4682.0,Low,2012-01-05,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
4,1222845,35000.0,1032841,4701,121,3.0,2002,8150.0,Medium,2012-01-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
5,1222847,8000.0,530790,7019,121,3.0,2001,0.0,NaN,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1222849,33000.0,1040520,3854,121,3.0,1000,1529.0,Low,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
7,1222850,33500.0,1061730,3854,121,3.0,1000,3998.0,Low,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
8,1222855,66000.0,531393,23926,121,3.0,1000,8145.0,Low,2012-01-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1222863,25000.0,317287,4106,121,3.0,2002,3211.0,Low,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
10,1222864,29000.0,1063609,1586,121,3.0,1000,7558.0,Low,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,Lever,NaN,NaN
11,1222865,39000.0,1021791,22653,121,3.0,2007,655.0,Low,2012-01-05,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN
12,1222867,65000.0,1012231,28540,121,3.0,2006,1542.0,Low,2012-01-05,...,20 inch,None or Unspecified,None or Unspecified,None or Unspecified,Triple,NaN,NaN,NaN,NaN,NaN
13,1222879,28000.0,1063944,8851,121,3.0,2007,1321.0,Low,2012-01-04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1222883,11500.0,1069060,10473,121,3.0,2006,1850.0,Low,2012-01-06,...,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [25]:
y_val = valsale["SalePrice"]
y_val[:10]

0    31000.0
1    54000.0
2    26500.0
3    10000.0
4    35000.0
5     8000.0
6    33000.0
7    33500.0
8    66000.0
9    25000.0
Name: SalePrice, dtype: float64

In [32]:
y_val.to_csv("bluebook-for-bulldozers/y_val.csv",index=False)

In [ ]:
y_val1=(pd.read_csv("bluebook-for-bulldozers/y_val.csv",low_memory=False)
                    .reset_index(drop=True))
y_val1.head(3).T

In [32]:
y_val = np.array(y_val1).reshape(-1)
y_val

array([31000., 54000., 26500., ..., 12500., 10000., 13000.])

                 0        1        2
SalePrice  31000.0  54000.0  26500.0

In [38]:
#create training dataset and valid dataset
X_train,y_train = trainset1.drop("SalePrice",axis=1), trainset1["SalePrice"]
X_valid = validset1
X_train.shape,y_train.shape,X_valid.shape,y_val.shape

((401125, 102), (401125,), (11573, 102), (11573,))

In [29]:
y_train.shape,y_val1.shape

((401125,), (11573, 1))

In [39]:
#let's create Dmatrices
dtrain = DMatrix(X_train,label=y_train)
dvalid = DMatrix(X_valid,label=y_val)

In [40]:
dtrain.feature_names

['SalesID',
 'MachineID',
 'ModelID',
 'datasource',
 'auctioneerID',
 'YearMade',
 'MachineHoursCurrentMeter',
 'UsageBand',
 'fiModelDesc',
 'fiBaseModel',
 'fiSecondaryDesc',
 'fiModelSeries',
 'fiModelDescriptor',
 'ProductSize',
 'fiProductClassDesc',
 'state',
 'ProductGroup',
 'ProductGroupDesc',
 'Drive_System',
 'Enclosure',
 'Forks',
 'Pad_Type',
 'Ride_Control',
 'Stick',
 'Transmission',
 'Turbocharged',
 'Blade_Extension',
 'Blade_Width',
 'Enclosure_Type',
 'Engine_Horsepower',
 'Hydraulics',
 'Pushblock',
 'Ripper',
 'Scarifier',
 'Tip_Control',
 'Tire_Size',
 'Coupler',
 'Coupler_System',
 'Grouser_Tracks',
 'Hydraulics_Flow',
 'Track_Type',
 'Undercarriage_Pad_Width',
 'Stick_Length',
 'Thumb',
 'Pattern_Changer',
 'Grouser_Type',
 'Backhoe_Mounting',
 'Blade_Type',
 'Travel_Controls',
 'Differential_Type',
 'Steering_Controls',
 'saleyear',
 'salemonth',
 'saleday',
 'saledayofyear',
 'saledayofweek',
 'MachineHoursCurrentMeter_is_missing',
 'UsageBand_is_missing',
 'fiModelDesc_is_missing',
 'fiBaseModel_is_missing',
 'fiSecondaryDesc_is_missing',
 'fiModelSeries_is_missing',
 'fiModelDescriptor_is_missing',
 'ProductSize_is_missing',
 'fiProductClassDesc_is_missing',
 'state_is_missing',
 'ProductGroup_is_missing',
 'ProductGroupDesc_is_missing',
 'Drive_System_is_missing',
 'Enclosure_is_missing',
 'Forks_is_missing',
 'Pad_Type_is_missing',
 'Ride_Control_is_missing',
 'Stick_is_missing',
 'Transmission_is_missing',
 'Turbocharged_is_missing',
 'Blade_Extension_is_missing',
 'Blade_Width_is_missing',
 'Enclosure_Type_is_missing',
 'Engine_Horsepower_is_missing',
 'Hydraulics_is_missing',
 'Pushblock_is_missing',
 'Ripper_is_missing',
 'Scarifier_is_missing',
 'Tip_Control_is_missing',
 'Tire_Size_is_missing',
 'Coupler_is_missing',
 'Coupler_System_is_missing',
 'Grouser_Tracks_is_missing',
 'Hydraulics_Flow_is_missing',
 'Track_Type_is_missing',
 'Undercarriage_Pad_Width_is_missing',
 'Stick_Length_is_missing',
 'Thumb_is_missing',
 'Pattern_Changer_is_missing',
 'Grouser_Type_is_missing',
 'Backhoe_Mounting_is_missing',
 'Blade_Type_is_missing',
 'Travel_Controls_is_missing',
 'Differential_Type_is_missing',
 'Steering_Controls_is_missing',
 'auctioneerID_is_missing']

### Baseline model

In [17]:
meantrain = np.mean(dtrain.get_label())
meantrain

31099.71

In [18]:
train_pred_mean = np.ones(len(y_train)) * meantrain
train_pred_mean

array([31099.7109375, 31099.7109375, 31099.7109375, ..., 31099.7109375,
       31099.7109375, 31099.7109375])

In [22]:
mae = mean_absolute_error(y_train,train_pred_mean)

In [20]:
mean_squared_log_error(y_train,train_pred_mean)

0.53954990348376

In [23]:
rmsle = np.sqrt(mean_squared_log_error(y_train,train_pred_mean))

In [25]:
print("the Baseline train model where the prediction is the mean of y_train has the following metrics:\n")
print("MAE: {:.2f}\nRMSLE: {:.4f}".format(mae,rmsle))

the Baseline train model where the prediction is the mean of y_train has the following metrics:

MAE: 17531.88
RMSLE: 0.7345

### Our first XGboost model

In [27]:
import xgboost as xgb

In [41]:
#let us use xgboost.train with default settings
#let us set the parameters to use in our model
params = {
    # Parameters that we are going to tune.
    'max_depth':6,
    'min_child_weight': 1,
    'eta':.3,
    'subsample': 1,
    'colsample_bytree': 1,
    # Other parameters
    'objective':'reg:squaredlogerror'}
model = xgb.train(params,dtrain,num_boost_round=999,evals=[(dvalid,"Valid")],early_stopping_rounds=10)

[0]	Valid-rmsle:9.58780
[1]	Valid-rmsle:9.34823
[2]	Valid-rmsle:9.10926
[3]	Valid-rmsle:8.87083
[4]	Valid-rmsle:8.63301
[5]	Valid-rmsle:8.39611
[6]	Valid-rmsle:8.15986
[7]	Valid-rmsle:7.92431
[8]	Valid-rmsle:7.68953
[9]	Valid-rmsle:7.45556
[10]	Valid-rmsle:7.22304
[11]	Valid-rmsle:6.99134
[12]	Valid-rmsle:6.76056
[13]	Valid-rmsle:6.53079
[14]	Valid-rmsle:6.30183
[15]	Valid-rmsle:6.07408
[16]	Valid-rmsle:5.84767
[17]	Valid-rmsle:5.62275
[18]	Valid-rmsle:5.39953
[19]	Valid-rmsle:5.17830
[20]	Valid-rmsle:4.95946
[21]	Valid-rmsle:4.74359
[22]	Valid-rmsle:4.53150
[23]	Valid-rmsle:4.32437
[24]	Valid-rmsle:4.12376
[25]	Valid-rmsle:3.93171
[26]	Valid-rmsle:3.75060
[27]	Valid-rmsle:3.58280
[28]	Valid-rmsle:3.43021
[29]	Valid-rmsle:3.29375
[30]	Valid-rmsle:3.17321
[31]	Valid-rmsle:3.06744
[32]	Valid-rmsle:3.06744
[33]	Valid-rmsle:3.06744
[34]	Valid-rmsle:3.06744
[35]	Valid-rmsle:3.06744
[36]	Valid-rmsle:3.06744
[37]	Valid-rmsle:3.06744
[38]	Valid-rmsle:3.06744
[39]	Valid-rmsle:3.06744
[40]	Valid-rmsle:3.06744
[41]	Valid-rmsle:3.06744

In [43]:
print("best rmsle: {:.4f} with {} rounds".format(model.best_score,model.best_iteration+1))

best rmsle: 3.0674 with 32 rounds

#### using cv in our hyperparameters tuning

In [44]:
cv_results = xgb.cv(
    params,
    dtrain,
    num_boost_round=999,
    seed=42,
    nfold=5,
    metrics={'rmsle'},
    early_stopping_rounds=10
)
cv_results

    train-rmsle-mean  train-rmsle-std  test-rmsle-mean  test-rmsle-std
0           9.482550         0.000645         9.482534        0.002579
1           9.243207         0.000639         9.243124        0.002576
2           9.004470         0.000638         9.004269        0.002577
3           8.766057         0.000637         8.766056        0.002575
4           8.528459         0.000640         8.528452        0.002578
5           8.291444         0.000636         8.291473        0.002576
6           8.055226         0.000636         8.055172        0.002576
7           7.819655         0.000655         7.819627        0.002579
8           7.584802         0.000634         7.584825        0.002583
9           7.350891         0.000618         7.350862        0.002590
10          7.117742         0.000640         7.117732        0.002595
11          6.885540         0.000628         6.885528        0.002596
12          6.654342         0.000636         6.654320        0.002601
13          6.424104         0.000631         6.424144        0.002614
14          6.195099         0.000627         6.195113        0.002622
15          5.967225         0.000637         5.967294        0.002627
16          5.740838         0.000624         5.740821        0.002634
17          5.515876         0.000612         5.515884        0.002639
18          5.292677         0.000595         5.292724        0.002647
19          5.071644         0.000602         5.071637        0.002657
20          4.853263         0.000619         4.853157        0.002657
21          4.637913         0.000611         4.637914        0.002670
22          4.426859         0.000608         4.426887        0.002673
23          4.221394         0.000591         4.221451        0.002687
24          4.023401         0.000593         4.023351        0.002690
25          3.834910         0.000583         3.834901        0.002704
26          3.658514         0.000590         3.658551        0.002701
27          3.496513         0.000597         3.496519        0.002709
28          3.350345         0.000586         3.350378        0.002717
29          3.220500         0.000577         3.220503        0.002722
30          3.106263         0.000573         3.106234        0.002737

In [45]:
#let's check the minimum error we got for our test data
cv_results["test-rmsle-mean"].min()

3.1062338

In [46]:
float("Inf")

inf

In [47]:
#let's create a gridsearch parameters list of max_depth and min_child_weight
grid_params = [(max_depth,min_child_weight)
              for max_depth in range(2,15)
              for min_child_weight in range(2,10)]
grid_params[:5]

[(2, 2), (2, 3), (2, 4), (2, 5), (2, 6)]

In [52]:
#tuning our hyperparams with the new params
#initialize values
min_rmsle = float("Inf")
best_params = None
for max_depth,min_child_weight in grid_params:
    print("using max depth:{} and min child weight:{}".format(max_depth,min_child_weight))
    
    #add new params to our params dictionary
    params["max_depth"] = max_depth
    params["min_child_weight"] = min_child_weight
    
    #check the cv with the tuned params
    cv_results = xgb.cv(params,
                       dtrain,
                       num_boost_round=999,
                       seed=42,
                       nfold=5,
                       metrics={'rmsle'},
                       early_stopping_rounds=10
                   )
    #update best rmsle
    mean_rmsle = cv_results["test-rmsle-mean"].min()
    boost_num = cv_results["test-rmsle-mean"].argmin()
    print("\n RMSLE {} for {} rounds".format(mean_rmsle,boost_num))
    if mean_rmsle < min_rmsle:
        min_rmsle = mean_rmsle
        best_params = (max_depth,min_child_weight)
print("best params: {} and {}, RMSLE:{}".format(best_params[0],best_params[1],min_rmsle))

using max depth:2 and min child weight:2

 RMSLE 3.3503659999999997 for 28 rounds
using max depth:2 and min child weight:3

 RMSLE 3.4965038 for 27 rounds
using max depth:2 and min child weight:4

 RMSLE 3.6585335999999997 for 26 rounds
using max depth:2 and min child weight:5

 RMSLE 3.8348793999999997 for 25 rounds
using max depth:2 and min child weight:6

 RMSLE 3.8348793999999997 for 25 rounds
using max depth:2 and min child weight:7

 RMSLE 3.8348793999999997 for 25 rounds
using max depth:2 and min child weight:8

 RMSLE 4.023324 for 24 rounds
using max depth:2 and min child weight:9

 RMSLE 4.023324 for 24 rounds
using max depth:3 and min child weight:2

 RMSLE 3.3503738 for 28 rounds
using max depth:3 and min child weight:3

 RMSLE 3.4965128 for 27 rounds
using max depth:3 and min child weight:4

 RMSLE 3.6585444000000003 for 26 rounds
using max depth:3 and min child weight:5

 RMSLE 3.8348908 for 25 rounds
using max depth:3 and min child weight:6

 RMSLE 3.8348908 for 25 rounds
using max depth:3 and min child weight:7

 RMSLE 3.8348908 for 25 rounds
using max depth:3 and min child weight:8

 RMSLE 4.0233398000000005 for 24 rounds
using max depth:3 and min child weight:9

 RMSLE 4.0233398000000005 for 24 rounds
using max depth:4 and min child weight:2

 RMSLE 3.3503777999999995 for 28 rounds
using max depth:4 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:4 and min child weight:4

 RMSLE 3.6585506000000003 for 26 rounds
using max depth:4 and min child weight:5

 RMSLE 3.8348998 for 25 rounds
using max depth:4 and min child weight:6

 RMSLE 3.8348998 for 25 rounds
using max depth:4 and min child weight:7

 RMSLE 3.8348998 for 25 rounds
using max depth:4 and min child weight:8

 RMSLE 4.0233486 for 24 rounds
using max depth:4 and min child weight:9

 RMSLE 4.0233486 for 24 rounds
using max depth:5 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:5 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:5 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:5 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:5 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:5 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:5 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:5 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:6 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:6 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:6 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:6 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:6 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:6 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:6 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:6 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:7 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:7 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:7 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:7 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:7 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:7 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:7 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:7 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:8 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:8 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:8 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:8 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:8 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:8 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:8 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:8 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:9 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:9 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:9 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:9 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:9 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:9 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:9 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:9 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:10 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:10 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:10 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:10 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:10 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:10 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:10 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:10 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:11 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:11 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:11 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:11 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:11 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:11 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:11 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:11 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:12 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:12 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:12 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:12 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:12 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:12 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:12 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:12 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:13 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:13 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:13 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:13 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:13 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:13 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:13 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:13 and min child weight:9

 RMSLE 4.023351 for 24 rounds
using max depth:14 and min child weight:2

 RMSLE 3.3503782 for 28 rounds
using max depth:14 and min child weight:3

 RMSLE 3.4965187999999996 for 27 rounds
using max depth:14 and min child weight:4

 RMSLE 3.6585512000000002 for 26 rounds
using max depth:14 and min child weight:5

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:14 and min child weight:6

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:14 and min child weight:7

 RMSLE 3.8349007999999998 for 25 rounds
using max depth:14 and min child weight:8

 RMSLE 4.023351 for 24 rounds
using max depth:14 and min child weight:9

 RMSLE 4.023351 for 24 rounds
best params: 2 and 2, RMSLE:3.3503659999999997

True